@{
  Layout = "_Layout";
}
@using Factory.Models;
@using System;
@using System.Collections.Generic;
@model List<Factory.Models.Machine>;  

<h4>Gadget List</h4>

@if (@Model.Count == 0)
{
  <h5>Yo, PC Principle. Need some Tech to rule!</h5>
} else 
{
<p>Tech Obtained: @Model.Count</p>
<ul>
  @foreach(Machine machine in Model)
  {
    <li>@Html.ActionLink(machine.Name, "Details", new { id = machine.MachineId }) </li>
  }
</ul>
}
<hr/>
<p>@Html.ActionLink("Add new department", "Create")</p>