@{
  Layout = "_Layout";
}
@* <div class="row p-5 bg-light mx-0">
  <div class="col-6 text-end">
    <button class="btn btn-dark">@Html.ActionLink("See all Students", "Index", "Students", new{}, new { @class = "text-white" })</button>
  </div>
  <div class="col-6 text-start">
    <button class="btn btn-dark">@Html.ActionLink("See all Courses", "Index", "Courses", new{}, new { @class = "text-white" })</button> *@
  </div>
</div>


